.content {
  padding: 7rem 0;
}

.col-form-label {
  color: #000;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.btn--whatsapp {
  background-color: #25D366; /* WhatsApp green color */
  color: #fff; /* White text color */
  padding: 12px 20px; /* Spacing inside the button */
  border-radius: 6px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  display: inline-block; /* Allows setting width/padding and sits in line */
  text-align: center; /* Centers the text */
  text-decoration: none; /* Removes default link underline */
  transition: 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Changes cursor to a hand icon */
  border: none; /* Removes default button border if using a button tag */
}

.btn--whatsapp:hover {
  background-color: #1DA851; /* Darker green on hover */
}
